/* CSS Document for Games page  */
/* File: style/board18Games.css */

#sidebar {
  width:120px;
  position: absolute;
  background-color:#ddffdd;
  left:0px;
  top:0px; 
}

#content {
  background-color:#ffeedd;
  position: absolute;
  left:5px;
  top:0px; 
  height:350px;
  border: none;
}

#gamehead {
  font-size: large;
  font-weight: bold;
}

#gamelist {
  margin: 5px;
  border: 2px solid black;
  background-color:#ccf8cc; 
  border-collapse:collapse;
}

#gamelist td {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

#gamelist tr {
  border: 1px solid black;
}

#gamelist th {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

.gameid {
    color: blue;
}

#playerhead {
  font-size: large;
  font-weight: bold;
}

#playerlist {
  margin: 5px;
  border: 2px solid black;
  background-color:#ccf8cc; 
  border-collapse:collapse;
}

#playerlist th {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

#playerlist td {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

#playerlist tr {
  border: 1px solid black;
}

#playerlist th {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}

.playerid {
    color: blue;
}

.lightrow {
    background-color:#eeffee;
}

#getlist td {
  width: 300px;
}

a.pagor {
    background-color: #FFEEDD;
    border: 2px solid #bbb;
    display: block;
    float: left;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    text-decoration: none;
}
a.pagor:hover {
    color: red;
}
a.selected {
    background-color: #DDFFDD;
    border: 2px solid #bbb;
}

.redit {
    border-top: 2px solid #000;
    color: red;
}
.greenit {
    border-top: 2px solid #000;
    color: green;
}

.hidediv {
  position: absolute;
  left:10px;
  top:10px; 
  z-index: 2;
  width: 700px;
  margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
  border-style: double;
	display: none;	
	background-color:#ddffdd;
}

.gameform {
  border-style: none;
}
.gameform label {
	display: inline-block;
	width: 200px;
	margin: 0 15px 0 0;
	color: rgb(58,80,123);
}
.gameform input {
	font-size: 14px;
}
.pwbutton {
	margin-left: 50px;	
}

.error {
  color: red !important;
}

.reg { }
